$col-soft-red: hsl(7, 99%, 70%);
$col-yellow: hsl(51, 100%, 49%);

// Graphic design text
$col-dark-cyan: hsl(167, 40%, 24%);
// Photography text
$col-dark-blue: hsl(198, 62%, 26%);
// Footer
$col-footer-text: #2C7566;
$col-dark-moderate-cyan: hsl(168, 34%, 41%);
$col-footer-background: rgb(144,212,197);